<div class="col-xs-10 col-xs-offset-1 about">
  <h1>About Quotable</h1>
  	<br/>
	<p> 
		This October, I joined a 15-week online software bootcamp called <a target="_blank" href="http://www.thefirehoseproject.com/">The Firehose Project.</a> Startup founders Marco and Ken use real-world knowledge to teach us about Ruby on Rails, HTML5, CSS and Javascript. So far, it's been pretty awesome! I've learned a lot already...and as a liberal arts grad, it's quite a learning curve! 
	</p>
	<br/>
  	<p> 
		 For our first project, I created a web application to display a database of different quotes. The original project name is Splurty, but I call my version Quotable. My web app showcases quotes from several famous women, who share their unique perspectives about life. You can see my code at my <a target="_blank" href="http://www.github.com/jmangaly/quotable">Github account</a>.  			
	</p>
</div>

<div class="col-xs-12 col-sm-4">
    <%= image_tag 'bike3.jpg', :class => 'img-responsive' %>
</div>

  <div class="col-xs-12 col-sm-7 col-sm-offset-1">
    <h2 class="text-center">Jennifer Mangaly</h2>
    <br/>
    <p>
      Jennifer Mangaly is a new web developer. She is currently enrolled in The Firehose Project. She is a member of Girl Develop It, Team Treehouse, and Code Academy. She has a BA in English and Foreign Service from Baylor University. Currently, she works at Fidelity Investments as a Copy Editor.
    </p>
  </div>
</div>
<br />
<br />
<br />
<br />


