@import url(https://fonts.googleapis.com/css?family=Playfair+Display);
@import url(https://fonts.googleapis.com/css?family=Muli);

body {
	background-color: linen;
}

.clear {
	clear: both;
}



.circle {
    font-weight:bold;
    font-style: italic;
    position: relative;
    border-radius: 100%;
    background: purple;
    border: 1px solid purple;
    width: 110px;
    height: 110px;
    margin: 10px 10px;
    text-align: center;
    color: white;
    font-size: 90px;
    // font-style: italic;
    font-family: 'Playfair Display', serif;
    line-height: 17px;
    // cursor: pointer;
    // transform:rotate(11deg); 
    // -ms-transform:rotate(11deg); /* IE 9 */
    // -webkit-transform:rotate(11deg); /* Opera, Chrome, and Safari */
}


.slogan {
  	font-family: 'Muli', Verdana, Helvetica, sans-serif;
  		font-size: 22px;
  		padding-top: 26px;
  		color:MediumVioletRed;
  		text-align:left;
  		
}

.links {
	padding-top:26px;
	font-family: 'Muli', Verdana, Helvetica, sans-serif;
	font-size: 14px;
	letter-spacing: 2px;
	color:black;
}

.links a {
	font-family: 'Muli', Verdana, Helvetica, sans-serif;
	color:black;
	font-size: 14px;
	letter-spacing: 2px;
	border-bottom: 1px solid plum;	
}

header {
  border-top: 9px solid plum;  
}

hr {
	clear:both;
}

h1 {
   font-family: 'Playfair Display', serif;
}   

h2 {
   font-family: 'Playfair Display', serif;
}

.next-quote {
  color:MediumVioletRed;
  font-family: 'Muli', Verdana, Helvetica, sans-serif;
  font-size: 20px;
}

.footer-blurb {
  	font-family: 'Muli', Verdana, Helvetica, sans-serif;
  	font-size: 14px;
  	text-align: right;
}


